@{
  Layout = "_Layout";
}


<form action="/games" method="post">
  <label for="guessLetter">
  <input type="text" id="guessletter" name="guessletter" maxlength="1">
  <button type="submit">Guess!</button>
</form>